.breadcrumbs-container {
    .breadcrumbs {
        
        .MuiBreadcrumbs-separator {
            color: #F4F4F4;
        }
        a {
            display: flex;
            align-items: center;
        }
    }
    padding-bottom: 64px;
    top: 32px;
}