.card--verticalList__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //min-width: 100%;

  &__item {
    .card_preview {
      width: 300px;
    }
  }
}

@media screen and (min-width: 1300px) {
  .card--verticalList__container {
    &__item {
      .card_preview {
        width: 280px;
        .photo {
          width: 280px;
          height: 220px;
          //CardVerticalList width: 335
          //CardVerticalList itemSize: 280
        }
      }
    }
  }
}

@media screen and (min-width: 1199px) and (max-width: 1299px) {
  .card--verticalList__container {
    &__item {
      .card_preview {
        height: 230px;
        width: 230px;
        .photo {
          width: 230px;
          height: 190px;
          //CardVerticalList width: 270
          //CardVerticalList itemSize: 240
        }
      }
    }
  }
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .card--verticalList__container {
    &__item {
      .card_preview {
        height: 14em;
        width: 11.5em;
        .photo {
          width: 11.5em;
          height: 12em;
          //CardVerticalList width: 270
          //CardVerticalList itemSize: 240
        }
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 831px) and (max-width: 991px) {
  .card--verticalList__container {
    &__item {
      .card_preview {
        height: 190px;
        width: 150px;
        .photo {
          width: 150px;
          height: 150px;
          //CardVerticalList width: 190
          //CardVerticalList itemSize: 200
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 830px) {
}

@media screen and (min-width: 472px) and (max-width: 670px) {
}

@media screen and (max-width: 471px) {
  .card--verticalList__container {
    &__item {
      .card_preview {
        height: 200px;
        width: 180px;
        .photo {
          width: 180px;
          height: 190px;
          //CardVerticalList width: 220
          //CardVerticalList itemSize: 215
        }
        .title {
          text-transform: uppercase;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}
