@import "variables";
@import "./libs/normalize.scss";
@import "./libs/fonts.scss";

// PAGES
@import "../pages/HomePage/HomePage.scss";
@import "../pages/ArticlePages/ArticlePage/ArticlePage";
@import "../pages/ArticlePages/ArticleListPage/ArticleListPage";
@import "../pages/ArticlePages/ArticleScientificPublicationsPage/ArticleScientificPublicationsPage";
@import "../pages/ThreeDEarthPage/EarthPage/EarthPage.scss";
@import "../pages/GalleryPages/ExhibitListPage/ExhibitListPage";
@import "../pages/GalleryPages/ExhibitPage/ExhibitPage";
@import "../pages/VideoPage/VideoPage";
@import "../pages/ReconstructionPages/ReconstructionPage/ReconstructionPage";

// COMPONENTS
@import "../components/EarthTypeMenu/EarthTypeMenu.scss";

@import "../components/CardVerticalList/CardVerticalList";
@import "../components/CardPreview/CardPreview";
@import "../components/CardCarousel/CardCarousel";

@import "../components/ToolComponents/Article/ArticleSourcesMenu/ArticleSourcesMenu.scss";
@import "../components/ToolComponents/Article/ArticleScientificPublicationsHierarchyMenu/ArticleScientificPublicationsHierarchyMenu";

@import "../components/Header/Header.scss";
@import "../components/Footer/Footer.scss";

@import "../components/Breadcrumbs/Breadcrumbs.scss";



.App {

	button {
		color: $white;
		font-family: RSRegular, serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		text-transform: uppercase;
	}


}
