@import '../../styles/variables';

.layout {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;

  button {
    &:hover {
      color: $orange;
      border-color: $orange;
    }
  }
}

header {
  z-index: 100;
}

main {
  flex: 1 1 auto;
  margin-bottom: 40px;
}

footer {
  z-index: 100;

  background-color: black;
  position: fixed;
  padding-top: 16px;
  padding-bottom: 10px;
  bottom: 0;
  width: 95%;
}

.dont-show-header-footer {
   header, footer {
     display: none;
   }
}

@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .layout {
    button {
      width: 200px;
    }
    .parent {
      display: flex;
      flex-direction: column;
      .left, .right {
        max-width: 100%;
      }
      .left {

        .contents {
          overflow: hidden;
        }
      }
    }
    }
      footer {

    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  .layout {
    button {
      width: 150px;
      font-size: 14px;
    }
    .parent {
      display: flex;
      flex-direction: column;
      .left, .right {
        max-width: 100%;
      }
      .left {

        .contents {
          overflow: hidden;
        }
      }
    }
    footer {
    }

  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 830px) {

  .layout {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    header {
      font-size: 14px;
    }

    .parent {
      display: flex;
      flex-direction: column;
      .left, .right {
        max-width: 100%;
      }
      .left {

        .contents {
          overflow: hidden;
        }
      }

    }
    footer {
    }



    button {
      width: 120px;
      font-size: 10px;
    }

  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}

@media (max-width: 670px) {
  .layout {
    header {
      font-size: 14px;
      .time-span, .instrument-span, #homeButton {
        display: none;
      }
      #homeIconButton {
        display: flex;
        align-items: baseline;
      }
    }

    .parent {
      display: flex;
      flex-direction: column;
      .left, .right {
        max-width: 100%;
      }
      .left {

        .contents {
          overflow: hidden;
        }
      }
    }
    footer {

    }


    button {
      width: 120px;
      font-size: 10px;
    }

    .sub-sub-menu__list {
      padding-top: 40px;
      left: 0;
    }

  }
}
