@import "../../styles/variables";

.article_card {
    display: flex;
    flex-direction: column;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    height: 270px;
    color: $white;
    cursor: pointer;
    &:hover {
        border-color: $orange;
        color: $orange;
    }
    .photo {
        height: 210px;
    }
    .title {
        padding: 10px;
        padding-bottom: 25px;
    }
}
