.navigation-wrapper {
  padding-top: 3em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //gap: 0.5em;
  .arrow {
    position: relative;
    width: 1em;
    height: 1em;
    cursor: pointer;
    &:hover {
      color: #FF5C00;
    }
    &--left__container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 4.5em;
    }
    &--right__container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 4.5em;
    }
  }
  .arrow.arrow--disabled {
    visibility: hidden;
  }

  .card-carousel {
    height: 80vh;
    .cardsContainer {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-column-gap: 0.5em;
      grid-row-gap: 0.5em;
      .card_preview {
        min-height: 38vh;
        .photo {
          object-fit: cover;
          height: 85%;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .card-carousel {
    //height: 75vh;
    .cardsContainer {
      //height: 100%;
      //display: grid;
      //grid-template-columns: repeat(3, minmax(0, 1fr));
      //grid-column-gap: 0.5em;
      //grid-row-gap: 0.5em;
      .card_preview {
        .photo {
        }
        .title {

        }
      }
    }
  }
}

@media screen and (min-width: 1300px) and (max-width: 1919px) {
  .card-carousel {
    //height: 75vh;
    .cardsContainer {
      //height: 100%;
      //display: grid;
      //grid-template-columns: repeat(3, minmax(0, 1fr));
      //grid-column-gap: 0.5em;
      //grid-row-gap: 0.5em;
      .card_preview {
        .photo {
        }
      }
    }
  }
}

@media screen and (min-width: 1199px) and (max-width: 1299px) {
  .card-carousel {
    //height: 75vh;
    .cardsContainer {
      //height: 100%;
      //display: grid;
      //grid-template-columns: repeat(3, minmax(0, 1fr));
      //grid-column-gap: 0.5em;
      //grid-row-gap: 0.5em;
      .card_preview {
        .photo {
        }
      }
    }
  }
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .card-carousel {
    //height: 75vh;
    .cardsContainer {
      //height: 100%;
      //display: grid;
      //grid-template-columns: repeat(3, minmax(0, 1fr));
      //grid-column-gap: 0.5em;
      //grid-row-gap: 0.5em;
      .card_preview {
        .photo {
        }
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 831px) and (max-width: 991px) {
  .navigation-wrapper {
    .card-carousel {
      //height: 75vh;
      .cardsContainer {
        //height: 100%;
        //display: grid;
        //grid-template-columns: repeat(3, minmax(0, 1fr));
        //grid-column-gap: 0.5em;
        //grid-row-gap: 0.5em;
        .card_preview {
          .photo {
          }
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 830px) {
  .navigation-wrapper {
    .card-carousel {
      //height: 75vh;
      .cardsContainer {
        //height: 100%;
        //display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        overflow-y: auto !important;
        //grid-column-gap: 0.5em;
        //grid-row-gap: 0.5em;
        .card_preview {
          min-height: 30vh;
          .photo {
          }
        }
      }
    }
  }
}

@media screen and (min-width: 472px) and (max-width: 670px) {
  .card-carousel {
    //height: 75vh;
    .cardsContainer {
      //height: 100%;
      //display: grid;
      //grid-template-columns: repeat(3, minmax(0, 1fr));
      //grid-column-gap: 0.5em;
      //grid-row-gap: 0.5em;
      .card_preview {
        min-height: 25vh;
        .photo {
        }
        .title {
          font-size: 1em;
          line-height: 1.3em;
        }
      }
    }
  }
}

@media screen and (max-width: 471px) {
  .navigation-wrapper {
    .card-carousel {
      height: 75vh;
      .cardsContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        overflow-y: auto !important;
        .card_preview {
          min-height: 25vh;
          .photo {
          }
          .title {
            font-size: 0.75em;
            padding-top: 0.5em;
          }
        }
      }
    }
  }
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}
