.exhibit {
  color: $white;
  .grid {
    padding-top: 25px;
    padding-bottom: 20px;
    .imageSourcesGrid {
      .container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .imageContainer {
          .image {
            width: 400px;
            height: 350px;
          }
        }

        .sourcesContainer {
          padding-right: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;
          h5 {
            font-size: 14px;
            line-height: 20px;
            text-transform: none;
            font-family: RSLight, serif;
            color: #B9B9B9;
          }
          .sources {
            font-size: 14px;
            line-height: 14px;
            text-transform: none;
            font-family: RSLight, serif;
            color: #B9B9B9;
          }
        }
      }
    }
    .middleGrid {
      .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .title {
          white-space: normal;
          overflow: auto;
          h1 {
            font-size: 24px;
            line-height: 32px;
            font-family: RSRegular, serif;
          }
        }

        .subtitle {
          h4 {
            font-size: 16px;
            line-height: 16px;
            color: #B9B9B9;
            font-family: RSLight, serif;
          }
        }

        .content {
          white-space: normal;
          overflow: auto;

          p {
            color: #B9B9B9;
            font-size: 14px;
            line-height: 20px;
            white-space: normal;
            overflow: auto;
          }
        }
      }
    }
    .cardVerticalListGrid {
      .container {

      }
    }
  }
  .goBackButton {

  }
}
