// button
#sources-button {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  width: auto !important;
  h5 {
    text-transform: none;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #B9B9B9;
  }
  &:hover {
    color: $white;
  }
}

// div behind actual menu box
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background-color: $black;
}

// ul
#sources-menu {
  .MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
    color: $white;
    max-width: 70vw;
    .sources-menu_item {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      &__ref {
        color: #B9B9B9;
        font-size: small;
        &:hover {
          color: $orange;
        }
        a {
          color: #B9B9B9;
          font-size: small;
          &:hover {
            color: $orange;
          }
        }
      }
      &__journal {
        color: #B9B9B9;
        font-size: small;
        white-space: pre-wrap;
        word-break: normal;
        &:hover {
          color: $orange;
        }
        a {
          color: #B9B9B9;
          font-size: small;
          white-space: pre-wrap;
          word-break: normal;
          &:hover {
            color: $orange;
          }
        }
      }
      &__title {
        padding-right: 10px;
        h5 {
          text-transform: none;
          min-width: 82px;
          text-align: left;
          margin-top: 5px;
          font-family: RSLight, serif;
          margin-right: 10px;
          line-height: 14px;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  #sources-button {
    h5 {
      font-size: 1.4em;
      line-height: 1.6em;
    }
  }
  #sources-menu {
    .MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
      .sources-menu_item {
        &__ref {
          font-size: 1.2em;
          line-height: 1.4em;
          a {
            font-size: 1.2em;
            line-height: 1.4em;
          }
        }
        &__journal {
          font-size: 1.2em;
          line-height: 1.4em;
        }
        &__title {
          h5 {
            font-size: 1.2em;
            line-height: 1.4em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1300px) and (max-width: 1919px) {
  #sources-menu {
    .MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
      .sources-menu_item {
        &__ref {
          a {
          }
        }
        &__journal {
        }
        &__title {
          h5 {
            }
        }
      }
    }
  }
}

@media screen and (min-width: 1199px) and (max-width: 1299px) {
  #sources-menu {
    .MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
      .sources-menu_item {
        &__ref {
          a {
          }
        }
        &__journal {
        }
        &__title {
          h5 {
          }
        }
      }
    }
  }
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #sources-menu {
    .MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
      max-width: 60vw;
      .sources-menu_item {
        &__ref {
          a {
          }
        }
        &__journal {
        }
        &__title {
          h5 {
          }
        }
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 831px) and (max-width: 991px) {
  #sources-menu {
    .MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
      max-width: 60vw;
      .sources-menu_item {
        &__ref {
          a {
          }
        }
        &__journal {
        }
        &__title {
          h5 {
          }
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 830px) {
  #sources-menu {
    .MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
      .sources-menu_item {
        &__ref {
          a {
          }
        }
        &__journal {
        }
        &__title {
          h5 {
          }
        }
      }
    }
  }
}

@media screen and (min-width: 472px) and (max-width: 670px) {
  #sources-menu {
    .MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
      .sources-menu_item {
        &__ref {
          a {
          }
        }
        &__journal {
        }
        &__title {
          h5 {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 471px) {
  #sources-menu {
    .MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
      max-width: 75vw;
      .sources-menu_item {
        &__ref {
          font-size: 1.2em;
          line-height: 1.6em;
          a {
            font-size: 1.2em;
            line-height: 1.6em;
          }
        }
        &__journal {
          font-size: 1em;
          line-height: 1.2em;
        }
        &__title {
          h5 {
          }
        }
      }
    }
  }
}