@import "../../../styles/variables";


.article {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-height: 75vh;
    justify-content: space-between;

    .leftContainer {
        display: flex;
        flex-direction: column;
        padding-top: 32px;
        padding-right: 5px;
        min-width: 70vw;
        .subtitle {
            h4 {
                font-size: 1.8em;
                line-height: 1.8em;
                color: #B9B9B9;
                font-family: RSLight, serif;
            }
        }

        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-height: 2em;
            h1 {
                font-size: 2em;
                line-height: 1.2em;
                padding-top: 17px;
                font-family: RSRegular, serif;
            }
        }

        .sources {
            padding-bottom: 20px;
        }

        .content {


            padding-top: 32px;

            padding-right: 5px;
            overflow: auto;
            p {
                color: #B9B9B9;
                white-space: normal;
                word-break: break-word;
                font-size: 1.2em;
                line-height: 1.6em;
            }
        }
    }

    .rightContainer {

    }
}

@media screen and (min-width: 1920px) {
    .article {
        .leftContainer {

            .subtitle {
                h4 {
                    font-size: 28px;
                    line-height: 28px;
                }
            }

            .title {
                h1 {
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            .sources {
            }

            .content {
                p {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }

        .rightContainer {

        }
    }
}

@media screen and (min-width: 1300px) and (max-width: 1919px) {
    .article {
        .leftContainer {

            //.subtitle {
            //    h4 {
            //        font-size: 28px;
            //        line-height: 28px;
            //    }
            //}
            //
            //.title {
            //    h1 {
            //        font-size: 30px;
            //        line-height: 40px;
            //    }
            //}
            //
            //.sources {
            //}
            //
            //.content {
            //    p {
            //        font-size: 24px;
            //        line-height: 26px;
            //    }
            //}
        }

        .rightContainer {

        }
    }
}

@media screen and (min-width: 1199px) and (max-width: 1299px) {
    .article {
        .leftContainer {

            .subtitle {
                h4 {
                }
            }

            .title {
                h1 {
                }
            }

            .sources {
                padding-bottom: 16px;
            }

            .content {

            }
        }

        .rightContainer {

        }
    }
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .article {
        .leftContainer {

            .subtitle {
                h4 {
                }
            }

            .title {
                padding-bottom: 14px;
                h1 {
                }
            }

            .sources {
            }

            .content {

            }
        }

        .rightContainer {

        }
    }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 831px) and (max-width: 991px) {
    .article {
        .leftContainer {
            .subtitle {
                h4 {
                }
            }

            .title {
                padding-bottom: 12px;
                h1 {
                }
            }

            .sources {
            }

            .content {

            }
        }

        .rightContainer {

        }
    }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 830px) {
    .article {
        flex-direction: column;
        .leftContainer {
            padding-top: 0;
            justify-content: center;
            max-height: 80vh;
            .subtitle {
                h4 {
                }
            }

            .title {
                padding-bottom: 8px;
                h1 {
                }
            }

            .sources {
            }

            .content {

            }
        }

        .rightContainer {
            justify-content: center;
        }
    }
}

@media screen and (min-width: 472px) and (max-width: 670px) {
    .article {
        .leftContainer {

            .subtitle {
                h4 {
                }
            }

            .title {
                h1 {
                    font-size: 1.5em;
                }
            }

            .sources {
            }

            .content {

            }
        }

        .rightContainer {

        }
    }
}

@media screen and (max-width: 471px) {
    .article {
        .leftContainer {
            .subtitle {
                h4 {
                    font-size: 12px;
                    line-height: 12px;
                }
            }

            .title {
                h1 {
                    font-size: 18px;
                    line-height: 26px;
                }
            }

            .sources {
            }

            .content {
                p {
                    font-size: 10px;
                    line-height: 18px;
                }
            }
        }

        .rightContainer {

        }
    }
}
