@import "../../../styles/variables";


.article {
    padding-top: 30px;
    display: flex;
    flex-direction: row;

    .leftContainer {
        display: flex;
        flex-direction: column;
        padding-top: 32px;
        padding-right: 5%;
        width: 70%;

        .subtitle {
            h4 {
                font-size: 16px;
                line-height: 16px;
                color: #B9B9B9;
                font-family: RSLight, serif;
            }
        }

        .title {
            h1 {
                font-size: 24px;
                line-height: 32px;
                padding-top: 17px;
                font-family: RSRegular, serif;
            }
        }

        .sources {
            font-size: 14px;
            line-height: 20px;
            padding-bottom: 20px;
            color: #B9B9B9;
            display: flex;
            align-items: center;
        }

        .content {

            word-wrap: break-word;
            font-size: 14px;
            line-height: 20px;
            padding-top: 32px;
            color: #B9B9B9;
            white-space: normal;
            padding-right: 6px;
            max-height: 50vh;
            overflow-y: auto;
        }
    }

    .rightContainer {
        left: 50%;
        right: 0;
        top: 10%;
        bottom: 10%;
        max-height: 100vh;
    }
}
