@import "../../styles/variables";

.buttons {
	display: flex;
	justify-content: space-between;
	button {
		border: 1px solid $gray;
		font-family: RSRegular;
		text-transform: uppercase;

		&.btn-deactivated {
			border: 1px solid #313131;
			color: #313131;
			cursor: default;
		}
	}
}
