// menu
@import '../../styles/_variables.scss';
@import '../../styles/libs/normalize.scss';

.earth-time-dropdown__btn {
    font-size: 16px;
    cursor: pointer;
}

.earth-time-dropdown {
    position: relative;
    display: inline-block;
}

.earth-time-dropdown__content {
    position: absolute;
    background-color: $black;
    min-width: 250px;
    z-index: 1;
    display: none;
}

.earth-time-dropdown__content span {
    cursor: pointer;
    color: $white;
    text-decoration: none;
}

.earth-time-dropdown__content li {
    padding-top: 12px;
    padding-left: 24px;
}

.earth-time-dropdown__content span:hover {color: $orange}

