// menu
@import '../../styles/_variables.scss';
@import '../../styles/libs/normalize.scss';

.MuiPaper-root.MuiMenu-paper.MuiPaper-root.MuiPopover-paper {
    background-color: $black;
    text-transform: uppercase;
    font-family: RSRegular, serif;
}


//button {
//    &:hover{
//        cursor: pointer;
//        color: $orange;
//        border-color: $orange;
//    }
//}
//
//li {
//    :hover {
//        color: $orange;
//    }
//}
