.title {
  padding-bottom: 48px;
  text-transform: uppercase;

  h1 {
    font-family: RSLight, serif;
    font-size: 32px;
    font-weight: 250;
    line-height: 60px;
  }
}

.breadcrumbs {
  text-transform: uppercase;
}
