.article_list {
    &__content {
        svg {
            font-size: xx-large;
        }
    }
}


.layout {
    footer {
        padding-bottom: 16px;
        .buttons {
            width: 100%;
        }
    }
}
