.scientific_publications {
  &__parent {
    height: 75vh;
    padding-top: 75px;
    color: white;
    &--leftContainer {

    }
    &--rightContainer {
      &-subTitle {
        h4 {
          color: #B9B9B9;
          font-size: 16px;
          line-height: 16px;
          font-family: RSLight, serif;
        }
      }
      &-title {
        padding-top: 20px;
        h1 {
          font-size: 24px;
          line-height: 32px;
        }
      }
      &-menu {
        height: 61vh;
      }
      &-goBackButton {

        button {
          border: 1px solid #F4F4F4;
          &:hover {
            color: #FF5C00;
            border-color: #FF5C00;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .scientific_publications {

    &__parent {
      padding-top: 25px;
      &--leftContainer {
        display: none;
      }
    }
  }
}

@media (max-width: 619px) {
  .scientific_publications {
    &__parent {
      &--rightContainer {
        &-menu {
          height: 57vh;
        }
      }
    }
  }
}
@media (max-width: 419px) {
  .scientific_publications {
    &__parent {
      &--rightContainer {
        &-menu {
          height: 55vh;
        }
      }
    }
  }
}